/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: var(--grey-grade3);
}

body {
  font-family: 'Roboto', sans-serif;
  //overflow-y: hidden;

  // &:has(.main-layout--scroll) {
  //   overflow-y: hidden;
  // }
}
