.right-nav-list {



    & &__topic {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        user-select: none;
        white-space: nowrap;
        transition: all .05s;
        
        

        &:hover {
            background-color: var(--grey-grade7);
            padding: 1.1rem 0;
        }

        p {
            font-size: 1.4rem;
        }

        img#arrow {
            padding-right: 3.2rem;
        }
    }

    & &__icon180 {
        transform: rotate(180deg);
        padding-left: 3.2rem;
        //background-color: black;
    }

    & &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        padding-left: 3.2rem;
        
    }

    & &__subtopics {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows .5s;

        &--show {
            grid-template-rows: 1fr;
        }
    }

    & &__subtopics-list {
        overflow: hidden;

        li {
            font-size: 1.4rem;
            padding: .8rem 4.2rem .8rem 4.4rem;
            cursor: pointer;
            color: var(--grey-grade2);

            &:hover {
                background-color: var(--grey-grade7);
                color: var(--black-color);
            }
        }
    }
}