.button-wrapper {

    & &__button {
        padding: 14px 50px;
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--light-blue);
        background-color: transparent;
        border-radius: 50px;
        border: 1px solid var(--light-blue);
        white-space: nowrap;

        &--register {
            background-color: var(--light-blue);
            color: var(--white-color);
            border: none;
        }
    }
}