.main-layout {
    display: flex;
    gap: 4.9rem;

    & &__aside {
        position: sticky;
        top: 77px;
        align-self: flex-start;
        overflow: auto;
    }

    & &__trends {
        margin-bottom: 5rem;
    }

    & &__title {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 2.4rem;
    }

    & &__mains {
        display: flex;
        gap: 5rem;
    }

    & &__posts {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
    }

    & &__postNav1 {
        display: block;
    }

    & &__postNav2 {
        display: none;
    }

    & &__right {
        position: sticky;
        top: 77px;
        align-self: flex-start;

    }

    & &__footer {
        display: none;
    }

    @media screen and (max-width: 1200px) {
        justify-content: center;

        & &__aside {
            position: absolute;
            top: 66px;
            left: -323px;
            transition: all .5s;
            z-index: 99999999;


            &--show {
                left: 0;
                top: 66px;
            }
        }
    }

    @media screen and (max-width: 1050px) {
        & &__trends {
            display: none;
        }

        & &__right {
            display: none;
        }

        & &__title {
            display: none;
        }

        & &__posts {
            gap: .4rem;
        }

        & &__postNav1 {
            display: none;
        }

        & &__postNav2 {
            display: block;
        }

        & &__footer {
            display: block;
            margin-top: .4rem;
        }
    }

    @media screen and (max-width: 400px) {
        
        & &__posts {
            gap: .5rem;
        }
    }
}