.post-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--grey-grade3);
    padding: 16px 24px;
    border-radius: 8px;
    background-color: var(--white-color);
    max-height: 68px;

    & &__headings {
        display: flex;
        gap: 24px;
    }

    & &__first-sections {
        display: flex;
        gap: 14px;
    }

    & &__first-section {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: var(--grey-grade7);
        border-radius: 50px;

        &--1 {
            padding: 8px 18px;
            max-height: 36px;
        }

        &--2 {
            padding: 8px 18px;
            max-height: 36px;
        }

        p {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 16.41px;
            color: var(--light-blue);
        }
    }

    & &__second-sections {
        display: flex;
        gap: 24px;
    }

    & &__second-section {
        display: flex;
        align-items: center;
        gap: 6px;

        p {
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--grey-grade1);
        }
    }
}