.post-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--grey-grade3);
    padding: 16px 24px;
    border-radius: 8px;
    background-color: var(--white-color);
    max-height: 68px;

    & &__headings {
        display: flex;
        gap: 24px;
    }

    & &__first-sections {
        display: flex;
        gap: 14px;
    }

    & &__first-section {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: var(--grey-grade7);
        border-radius: 50px;
        position: relative;
        cursor: pointer;

        &--1 {
            padding: 8px 18px;
            max-height: 36px;
        }

        &--2 {
            padding: 8px 18px;
            max-height: 36px;
        }

        p {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 16.41px;
            color: var(--light-blue);
        }
    }

    & &__dropdown {
        position: absolute;
        max-height: 256px;
        max-width: 154px;
        overflow-y: auto;
        top: 3.8rem;
        left: -3rem;
        display: none;
        padding: 2.4rem;
        background-color: var(--white-color);
        border-radius: .8rem;
        

        p {
            font-size: 1.2rem;
            font-weight: 400;
            color: var(--grey-grade2);
            margin-bottom: 1.6rem;
        }

        &--show {
            display: block;
        }
    }

    & &__second-sections {
        display: flex;
        gap: 24px;
    }

    & &__second-section {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;

        &:hover {
            p {
                color: var(--light-blue);
            }
        }

        p {
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--grey-grade1);
        }
    }

    & &__more {
        cursor: pointer;
    }
}