.nav-list {

    & &__topic {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        user-select: none;
        gap: 0.6rem;

        &:hover {
            background-color: var(--grey-grade7);
        }

        p {
            font-size: 1.6rem;
            white-space: nowrap;
        }

        img.image-arrow {
            padding-right: 5.2rem;
        }
        img.image-arrow.nav-list__icon180 {
            transform: rotate(180deg);
            padding-left: 5rem;
            padding-right: 0rem;
        }
    }

    & &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        padding-left: 5rem;
        
    }

    & &__subtopics {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows .5s;

        &--show {
            grid-template-rows: 1fr;
        }
    }

    & &__subtopics-list {
        overflow: hidden;

        li {
            font-size: 1.4rem;
            padding: 1rem 4.2rem 1rem 9.1rem;
            cursor: pointer;
            color: var(--grey-grade2);

            &:hover {
                background-color: var(--grey-grade7);
                color: var(--black-color);
            }
        }
    }
}